{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="grid grid-cols-3">
        <div class="pr-20 col-span-2">
            <h1 class="text-2xl mb-10">Welkom op het contractorportaal van Envalior</h1>
            <p class="mb-5 text-gray-700 leading-7">
                Met het contractorportaal wil LANXESS nv de samenwerking met zijn aannemers vlot laten verlopen. Eens
                geregistreerd vindt elke contractor op deze site alle nodige info om veilig met LANXESS nv te kunnen
                samenwerken.
            </p>
            <p class="text-gray-700 leading-7">
                LANXESS heeft in de Antwerpse haven twee vestigingen, waar rubberchemicaliën en tussenproducten voor
                kunststoffen worden gemaakt. In Lillo worden caprolactam en polyamide gefabriceerd en in Kallo worden
                glasvezel
                en rubberchemicaliën vervaardigd. LANXESS nv heeft zowat 950 werknemers in België. Het Antwerpse
                havengebied
                is
                één van de belangrijkste productievestigingen binnen de LANXESS Groep. Meer info op www.lanxess.be.
            </p>
        </div>
        <img class="w-2/3 flex justify-self-center" src=" images/landing-img.jpeg" alt="">
    </div>

{% endblock %}
