{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="">
        <h1 class="text-3xl">Dashboard</h1>
        <p class="mt-5">
            Welkom op het administratordashboard van de contractorwebsite van LANXESS nv. Vanuit het dashboard kan u
            alle functionaliteiten bereiken die voor uw profiel zijn vrijgegeven.
        </p>
        <p class="mt-5">Via de knop
            <a href="">
                <u>Beheer gebruikers</u>
            </a>
            kan je de gebruikers hun toegang tot het platform
            beheren.
        </p>
        <p>
            Via de knop
            <a href=""><u>Beheer preventieadviseurs</u></a>
            kan je de preventieadviseurs afkeuren of goedkeuren.
        </p>
    </div>

{% endblock %}
